parameters:
    scanDirectories:
        - var/cache
    checkUninitializedProperties: true
    level: 9
    tmpDir: ./var/cache/phpstan
    paths:
        - src
        - src-dev
        - tests
    excludePaths:
        - src-dev/Maker/Vendor/EntityGenerator.php
    doctrine:
        objectManagerLoader: src-dev/PHPStan/object-manager.php

includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-doctrine/rules.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - src-dev/PHPStan/phpstan-baseline.neon

rules:
    - PHPStan\Rules\Doctrine\ORM\EntityNotFinalRule
