server {
    listen 80;
    server_name ${SERVER_NAME} www.${SERVER_NAME};

    location /  {
        fastcgi_pass backend:9000;
        include fastcgi_params;

        fastcgi_buffer_size 128k;
        fastcgi_buffers 4 256k;
        fastcgi_busy_buffers_size 256k;

        fastcgi_param SCRIPT_FILENAME /app/public/index.php;
        fastcgi_param DOCUMENT_ROOT /app/public/;
    }
}
