{% extends '@mails/layout.html.twig' %}
{% block body %}
<p>У вас есть невыполненные задачи:</p>
<ul>
    {% for task in tasks %}
        <li>
            Задача {{ task.taskName }} от {{ task.createdAt|date('Y-m-d H:i:s')  }}
        </li>
    {% endfor %}
</ul>
{% endblock %}
