parameters:
    level: 9
    fileExtensions:
        - php
    paths:
        - ../../src
        - ../Tests
        - ../
    tmpDir: ../../var/cache/phpstan
    excludePaths:
        - ../../src/*/config.php
        - ../Rector/rector.config.php
        - ../Maker
    parallel:
        maximumNumberOfProcesses: 8
    checkUninitializedProperties: true
    doctrine:
        objectManagerLoader: object-manager.php

includes:
    - ../../vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - ../../vendor/phpstan/phpstan-doctrine/extension.neon
    - ../../vendor/phpstan/phpstan-doctrine/rules.neon
    - ../../vendor/phpstan/phpstan-strict-rules/rules.neon
    - phpstan-baseline.neon

rules:
    - PHPStan\Rules\Doctrine\ORM\EntityNotFinalRule

services:
	-
		class: Dev\PHPStan\EmbeddablePropertiesExtension
		tags:
			- phpstan.properties.readWriteExtension
